.container
  p
    | Angular Fullstack v0.0.0
    = ' | '
    a(href='http://angular-fullstack.github.io/') Documentation
    = ' | '
    a(href='https://gitter.im/DaftMonk/generator-angular-fullstack') Chat on Gitter
    = ' | '
    a(href='https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open') Issues
    = ' | '
    a(href='https://opencollective.com/angular-fullstack') Donate to our Open Collective
